<!-- Home -->

<div class="home">
	<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/fondo.jpg" data-speed="0.8"></div>
	<div class="home_container">
		<div class="home_content">
			<div class="home_title" style="font-size: 30px;"><b>PEDIDOS</b> </div>
			<div class="breadcrumbs">
				<ul class="d-flex flex-row align-items-center justify-content-start" >
					<li><a style="color: black;" href="/home">INICIO</a></li>
					<li style="color: black;">PEDIDOS</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Checkout -->
<div class="cart_section">
	<div class="section_container">
		<ul class="nav nav-tabs" id="myTab" role="tablist" style="">
			<li class="nav-item">
				<a class="nav-link active" id="realice-tab" data-toggle="tab" href="#realice" role="tab" aria-controls="realice" aria-selected="false" style="
				font-family: 'Poppins', sans-serif;
				text-transform: uppercase;
				">Realicé</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="merealizaron-tab" data-toggle="tab" href="#merealizaron" role="tab" aria-controls="merealizaron" aria-selected="true" style="
				font-family: 'Poppins', sans-serif;
				text-transform: uppercase;
				">Me realizaron</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="realice" role="tabpanel" aria-labelledby="realice-tab" style="margin-top: 20px;">
				<div class="container">
					<div class="row">
						<div class="col">
							<table id="order" class="display" style="width:100%"> 
								<thead> 
									<tr> 
										<th>Referencia</th>
										<th style="width: 80px; text-align: center;">Fecha pedido</th>
										<th style="width: 80px; text-align: center;">Fecha entrega</th>
										<th style="width: 80px; text-align: end;">Total</th>
										<th style="width: 80px; text-align: center;">Estado</th>
										<th style="width: 80px; text-align: center; ">Acciones</th>
									</tr> 
								</thead>
								<tbody>
									{{#each pedidosRealizados }}
									<tr> 
										<td> {{ referencia }} </td> 
										<td style="text-align: center;"> {{ fecha_pedido }} </td> 
										<td style="text-align: center;"> {{ fecha_entrega }} </td> 
										<td style="text-align: end;"> $ {{ total }} </td> 
										<td style="text-align: center;"> {{ estado }} </td> 
										<td>
											<select class="form-control-sm">
												<option>Acciones</option>
												<option>Editar</option>
												<option>Eliminar</option>
											</select>
										</td> 
									</tr> 
									{{/each }}
								</tbody>
							</table>

						</div>

					</div>

				</div>
			</div>
			<div class="tab-pane fade" id="merealizaron" role="tabpanel" aria-labelledby="merealizaron-tab" style="margin-top: 20px;">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<table id="orderMy" class="display" style="width:100%"> 
								<thead> 
									<tr> 
										<th>Referencia</th>
										<th>Fecha pedido</th>
										<th></th>
										<th>Producto</th>
										<th style="width: 80px; text-align: end;">Costo</th>
										<th style="width: 80px; text-align: end;">Cantidad</th>
										<th style="width: 80px; text-align: end;">Total</th>
										<th style="width: 80px; text-align: center;">Estado</th>
										<th style="width: 80px; text-align: center;">Fecha entrega</th>
										<th style="width: 80px; text-align: center; ">Acciones</th>
									</tr> 
								</thead>
								<tbody>
									{{#each misPedidos }}
									<tr> 
										<td> {{ referencia }} </td> 
										<td> {{ fecha_pedido }} </td> 
										<td style="width: auto;"> <center> <img src="/images/{{ imagen }}" width="50" height="50"> </center> </td> 
										<td> {{ nombre }} </td>
										<td style="text-align: end;"> $ {{ costo }} </td> 
										<td style="text-align: end;"> {{ cantidad }} </td> 
										<td style="text-align: end;"> $ {{ total }} </td> 
										<td style="text-align: center;"> {{ estado }} </td> 
										<td style="text-align: center;"> {{ fecha_entrega }} </td> 
										<td>
											<select class="form-control-sm">
												<option value="0" disabled selected>Acciones</option>
												<option>Editar</option>
												<option>Eliminar</option>
											</select>
										</td> 
									</tr> 
									{{/each }}
								</tbody>
							</table>

						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>

