<!-- Home -->

<div class="home">
	<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="/images/fondo.jpg" data-speed="0.8"></div>
	<div class="home_container">
		<div class="home_content">
			<div class="home_title" style="font-size: 30px;"><b>PEDIDOS</b> </div>
			<div class="breadcrumbs">
				<ul class="d-flex flex-row align-items-center justify-content-start" >
					<li><a style="color: black;" href="/">INICIO</a></li>
					<li><a style="color: black;" href="/admin">ADMIN</a></li>
					<li style="color: black;">PEDIDOS</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="cart_section">
	<div class="section_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<table id="datatable" class="display" style="width:100%"> 
						<thead> 
							<tr> 
								<th>Referencia</th>
								<th>Comprador</th>
								<th style="text-align: center;">Fecha</th> 
								<th style="text-align: center;">Fecha entrega</th> 
								<th style="width: 80px; text-align: end;">Total</th>
								<th>Estado</th> 
								<th style="width: 80px; text-align: center; ">Acciones</th>
							</tr> 
						</thead>
						<tbody>
            				{{#each pedidos }}
							<tr> 
								<td> {{ referencia }} </td> 
								<td> {{ comprador }} </td> 
								<td style="text-align: center;"> {{ fecha_pedido }} </td> 
								<td style="text-align: center;"> {{ fecha_entrega }} </td> 
								<td style="text-align: end;"> $ {{ total }} </td> 
								<td> {{ estado }} </td> 
								<td>
                                    <select class="form-control-sm">
                                        <option>Acciones</option>
                                        <option>Editar</option>
                                        <option>Eliminar</option>
                                    </select>
                                </td> 
							</tr> 
            				{{/each }}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
