<!-- Home -->

<div class="home">
	<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/fondo.jpg" data-speed="0.8"></div>
	<div class="home_container">
		<div class="home_content">
			<div class="home_title" style="font-size: 30px;"><b>CARRITO</b> </div>
			<div class="breadcrumbs">
				<ul class="d-flex flex-row align-items-center justify-content-start" >
					<li><a style="color: black;" href="/">INICIO</a></li>
					<li style="color: black;">CARRITO</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Cart -->

<div class="cart_section">
	<div class="section_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<table id="carritoDatatable" class="display" style="width:100%"> 
						<thead> 
							<tr> 
								<th></th>
								<th>Código</th> 
								<th>Nombre</th> 
								<th style="text-align: end;">Valor unitario</th>
								<th style="text-align: end;">Cantidad</th>
								<th style="text-align: end;">Total</th>
								<th></th>
							</tr> 
						</thead>
						<tbody>
            				{{#each productos }}
							<tr> 
								<td style="width: auto;"> <center> <img src="images/{{ imagen }}" width="50" height="50"> </center> </td> 
								<td> {{ codigo }} </td> 
								<td> {{ nombre }} </td> 
								<td style="text-align: end;"> $ {{ costo }} </td> 
								<td style="text-align: end;"> {{ cantidad }} </td> 
								<td style="text-align: end;"> $ {{ total }} </td> 
								<td></td> 
							</tr> 
            				{{/each }}
						</tbody>
					</table>
					<div class="cart_container">
						<!-- Cart Buttons -->
						<div class="cart_buttons d-flex flex-row align-items-start justify-content-start">
							<div class="cart_buttons_inner ml-auto d-flex flex-row align-items-start justify-content-start flex-wrap">
								<div class="button button_continue trans_200"><a href="/">CONTINUAR COMPRANDO</a></div>
								<div class="button button_clear trans_200"><a href="/">LIMPIAR CARRITO</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section_container cart_extra_container">
		<div class="container">
			<div class="row">
				<!-- Cart Total -->
				<div class="col-xxl-6 mx-auto">
					<div class="cart_extra cart_extra_2">
						<div class="cart_extra_content cart_extra_total">
							<div class="cart_extra_title">Carrito total</div>
							<ul class="cart_extra_total_list">
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_extra_total_title">Subtotal</div>
									<div class="cart_extra_total_value ml-auto">$29.90</div>
								</li>
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_extra_total_title">Envío</div>
									<div class="cart_extra_total_value ml-auto">Gratis!</div>
								</li>
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_extra_total_title">Total</div>
									<div class="cart_extra_total_value ml-auto">$29.90</div>
								</li>
							</ul>
							<div class="checkout_button trans_200"><a href="/pago">PROCESAR PAGO</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
